<section class="features" id="features">
   <div class="container">
      <div class="row">
         <h2>Features</h2>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line1">
            <img src="./img/airplane.png" alt="">
            <p>One</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line2">
            <img src="./img/map_marker.png" alt="">
            <p>Two</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line3">
            <img src="./img/movie.png" alt="">
            <p>Three</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line4">
            <img src="./img/alarm_clock.png" alt="">
            <p>Four</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line5">
            <img src="./img/face.png" alt="">
            <p>Five</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="col-12 col-sm-6 col-md-4 text-center p-4 features__line6">
            <img src="./img/genius.png" alt="">
            <p>Six</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
      </div>
   </div>
</section>