<footer class="footer">
   <div class="container-fluid container-md">
    <div class="row">
        <div class="col-12">
            <nav class="footer__media">
                <ul>
                    <li><a target="_blank" href="https://twitter.com/?lang=uk"><img src="./img/twitter.png" alt="img"></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/"><img src="./img/facebook.png" alt="img"></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/"><img src="./img/instagram.png" alt="img"></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/"><img src="./img/youtube.png" alt="img"></a></li>
                    <li><a target="_blank" href="https://mail.google.com/"><img src="./img/gmail.png" alt="img"></a></li>
                </ul>
            </nav>
            <div class="footer__title">
                <p>&#169; UNITED 2019</p>
            </div>
        </div>
    </div>
   </div>
</footer>