<div class="container">
   <div class="row">
      <div class="gallery__line"></div>
      <h2>Gallery</h2>
      <div class="col-12">
         <section class="gallery">
            <div class="gallery__item">
               <img src="./img/forest1.webp" alt="">
            </div>
            <div class="gallery__item">
               <img src="./img/forest2.webp" alt="">
            </div>
            <div class="gallery__item">
               <img src="./img/forest3.webp" alt="">
            </div>
            <div class="gallery__item">
               <img src="./img/forest4.webp" alt="">
            </div>
         </section>
      </div>
   </div>
</div>