<section class="gallery">
   <div class="container">
      <div class="row">
         <div class="gallery__line"></div>
         <h2>Gallery</h2>
         <div class="col-12 d-flex">
            <img src="./img/forest1.webp" alt="forest1">
            <img src="./img/forest2.webp" alt="forest2">
            <img src="./img/forest3.webp" alt="forest3">
            <img src="./img/forest4.webp" alt="forest4">
         </div>
      </div>
   </div>
   <!-- <div class="gallery__slider">
      <div><img src="./img/forest1.webp" alt="forest1"></div>
      <div><img src="./img/forest2.webp" alt="forest2"></div>
      <div><img src="./img/forest3.webp" alt="forest3"></div>
      <div><img src="./img/forest4.webp" alt="forest4"></div>
   </div> -->
</section>