<header class="header">
    <button onclick="topFunction()" id="myBtn" title="Go to top">&#x1F815</button>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6 d-flex mt-4 mb-4">
                    <div class="header__logo">
                        <a href="#">TOUR-GUIDE</a>
                    </div>
                    <nav class="header__menu">
                        <ul id="burger-menu" class="menu__list d-flex">
                            <li class="menu">
                                <a href="#story" class="menu__link">Stories</a>
                            </li>
                            <li class="menu">
                                <a href="#gallery" class="menu__link">Gallery</a>
                            </li>
                            <li class="menu">
                                <a href="#features" class="menu__link">Features</a>
                            </li>
                            <li class="menu">
                                <a href="#forms" class="menu__link">Write to us</a>
                            </li>
                            <div class="menu-row mt-5">
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/twitter.png" alt="twitter"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/facebook.png" alt="facebook"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/instagram.png" alt="instagram"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/youtube.png" alt="youtube"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/gmail.png" alt="gmail"></a>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 d-flex justify-content-end mt-4 mb-4">
                    <div class="header__social_media">
                        <nav>
                            <ul>
                                <li><a target="_blank" href="https://twitter.com/?lang=uk"><img src="./img/twitter.png" alt="twitter"></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/"><img src="./img/facebook.png" alt="facebook"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/"><img src="./img/instagram.png" alt="instagram"></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/"><img src="./img/youtube.png" alt="youtube"></a></li>
                                <li><a target="_blank" href="https://mail.google.com/"><img src="./img/gmail.png" alt="gmail"></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div id="burger" class="header__menu__burger d-md-none">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>