<section class="story" id="story">
   <div class="container-fluid container-md">
      <div class="row">
         <div class="story__line"></div>
         <div class="story__reverse">
            <div class="col-12 col-md-4">
               <img src="./img/forest2.webp" alt="forest2">
            </div>
            <div class="col-12 col-md-8 ps-5 pe-5">
               <h2>Story</h2>
               <p class="story__main_text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestias quidem quos? Magni ipsam
                  voluptatibus
                  praesentium atque?
               </p>
               <a href="#" class="btn btn-outline-secondary">MORE</a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="story__line"></div>
         <div class="story__column_revers">
            <div class="col-12 col-md-8 ps-5 pe-5">
               <h2>Story</h2>
               <p class="story__second_text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestias quidem quos? Magni ipsam
                  voluptatibus
                  praesentium atque?
               </p>
               <a href="#" class="btn btn-outline-secondary">MORE</a>
            </div>
            <div class="col-12 col-md-4">
               <img src="./img/forest3.webp" alt="forest3">
            </div>
         </div>
      </div>
   </div>
</section>